body{
    background-color: rgb(123, 147, 212);
}

h1{
    text-align: center;
    color: aquamarine;

}
.dialog{
    display: block;
    text-align: center;
}
.container{
    padding-top: 50px;
    font-size: larger;
    
    

}
.button{
text-align: center;
font-size: larger;
padding-top: 50px;
}
.col-md-12{
    padding-bottom: 50px;
}
.column{
    width: 77%;
    
    padding-left: 500px;

}