body {
    background-color: rgb(123, 147, 212);
    background-image: url("css/images/img.jpg");
    background-size: cover;
}

h1 {
    text-align: center;
    color: white;

}

.dialog {
    display: block;
    text-align: center;
}

.container {
    padding-top: 50px;
    font-size: larger;



}

.button {
    text-align: center;
    font-size: larger;
    padding-top: 50px;
}

.col-md-12 {
    padding-bottom: 50px;
}

.column {
    width: 77%;
    padding-left: 500px;
    font-size: larger;
    font-family: sans-serif;

}

#Display {
    padding-top: 50px;
    color: white;
    font-size: 2.5rem;
    font-family: monospace;
    text-align: center;
}