h1{
    text-align: center;
    color: aquamarine;

}
.dialog{
    display: block;
    text-align: center;
}
.container{
    padding-top: 100px;
    font-size: larger;
    
    

}
.button{
text-align: center;
font-size: larger;
padding-top: 50px;
}
.col-md-12{
    padding-bottom: 50px;
}